<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
    <head>
        <title>Stop! The guessing game</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="css/custom.css" rel="stylesheet" media="screen">
        <link href="css/facebook.css" rel="stylesheet" media="screen">

        <!--[if IEMobile]>
        <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
        <![endif]-->
        <meta property="og:title" content="<%= app.name %>" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= url() %>" />
        <meta property="og:image" content="<%= url('/logo.png') %>" />
        <meta property="og:site_name" content="<%= app.name %>" />
        <meta property="og:description" content="Stop" />
        <meta property="fb:app_id" content="<%= app.id %>" />

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="js/facebook.js"></script>
        <!--[if IE]>
            <script type="text/javascript">
                var tags = ['header', 'section'];
                while(tags.length)
                    document.createElement(tags.pop());
            </script>
        <![endif]-->

        <script src="js/jquery.transit.js" type="text/javascript"></script>
        <script src="http://stop-theguessinggame.herokuapp.com/socket.io/socket.io.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/jquery.paginate.js"></script>
        <script src="js/jquery.dom-outline.js"></script>
        <script src="js/custom.js"></script>

    </head>
    <body>
        <%
        var normalize = (function() {
            var from = "ÃÀÁÄÂÈÉËÊÌÍÏÎÒÓÖÔÙÚÜÛãàáäâèéëêìíïîòóöôùúüûÑñÇç",
              to   = "AAAAAEEEEIIIIOOOOUUUUaaaaaeeeeiiiioooouuuunncc",
              mapping = {};

            for(var i = 0, j = from.length; i < j; i++ )
              mapping[ from.charAt( i ) ] = to.charAt( i );

            return function( str ) {
              var ret = [];
              for( var i = 0, j = str.length; i < j; i++ ) {
                  var c = str.charAt( i );
                  if( mapping.hasOwnProperty( str.charAt( i ) ) )
                      ret.push( mapping[ c ] );
                  else
                      ret.push( c );
              }
              return ret.join( '' );
            }

        })();

        %>
        <div id="fb-root"></div>
        <script type="text/javascript">
            window.fbAsyncInit = function() {

                
                FB.Event.subscribe('auth.statusChange', function(response) {
                    if(response.status == 'connected') {
                        var $_GET = {},
                        args = location.search.substr(1).split(/&/);
                        for (var i=0; i<args.length; ++i) {
                            var tmp = args[i].split(/=/);
                            if (tmp[0] != "") {
                                $_GET[decodeURIComponent(tmp[0])] = decodeURIComponent(tmp.slice(1).join("").replace("+", " "));
                            }
                        }
                        function deleteRequest(requestId) {
                            FB.api(requestId, 'delete', function(response) {
                                console.log(response);
                            });
                        }
                        <% if (user) { %>
                            deleteRequest($_GET['request_ids']);
                        <% } %>
                    } else {
                        <% if (req.has_request) { %>
                            facebookMessage();
                        <% } %>
                    }
                });

                FB.init({
                    appId      : '<%= app.id %>', // App ID
                    channelUrl : '<%= url_no_scheme('/channel.html') %>', // Channel File
                    status     : true, // check login status
                    cookie     : true, // enable cookies to allow the server to access the session
                    xfbml      : true // parse XFBML
                });
                

                // Listen to the auth.login which will be called when the user logs in
                // using the Login button
                FB.Event.subscribe('auth.login', function(response) {
                    // We want to reload the page now so PHP can read the cookie that the
                    // Javascript SDK sat. But we don't want to use
                    // window.location.reload() because if this is in a canvas there was a
                    // post made to this page and a reload will trigger a message to the
                    // user asking if they want to send data again.
                    window.location = window.location;
                });
               
                FB.Canvas.setAutoGrow();


                


                
            };

            // Load the SDK Asynchronously

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                //js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=444848408907809";
                js.src = "//connect.facebook.net/en_US/all.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            <% if (req.next_room != null) { %>
                next_room = <%=  req.next_room %>;

            <% } %>
            

        </script>
        <div class="overlay"> </div>
        <a href="#" class="close-button"><img src="/img/close.png"></a>
        <div class="error post-it"> </div>
        <div class="hint_post post-it"> </div>
        <div class="face_post post-it">
            <h1>Facebook</h1>
            <span class="message">
                You received a request, please login to be able to accept the request.
            </span>
            <div class="fb-login-button" data-scope="user_likes,user_photos"></div>
        </div>
        <div class="content">
            <div class="logo">

            </div>
            <div class="container">
                <div class="root">
                    <div class="paper paper1 about root">
                        <h1 class="paper_title"> How to Play </h1>
                        <br>
                        <p> Stop! is a word guessing game where the players have to write words beginning with a random letter in some predetermined categories. <br> </p>
                        <p> At first, categories like "Name", "Color", "Animal", "Town", "Country", "River" and others are selected. <br>
                            Then, for each round, a letter will be randomly selected and the players should guess words that begins with the letter. <br>
                            In the end of the round, the players have to validate the written words. </p>
                        <p> Each valid word can give 5 or 10 points to the players that wrote it. <br>
                            If just one player wrote, he receives 10 points. <br>
                            If more than one player wrote the same word, they receive 5 points. <br> </p>
                        <p> This game is also called "Town Country River", "Stadt, Land, Fluss" or "Adedanha". </p>
                    </div>
                    <div class="paper paper2 active login root">
                        <h1 class="paper_title"> Let's Play! </h1>
                        <form class="login_form paper_form">
                            <div class="nickname">
                                <label class="label_nickname" for="input_nickname">Nickname</label>
                                <input type="text" class="hint" id="input_nickname" name="nickname"<% if (user) { %> value="<%= normalize(user.name.split(' ')[0].substring(0, 20)) %>" <% } %>>
                            </div>
                            <button type="button" class="hint paper_btn" id="submit_login_btn"> Start! </button>
                        </form>
                        <div class="clear"></div>
                        <br>
                        <div class="clearfix">
                            <% if (user) { %>

                            <div>
                                <span class="facebook_login">Welcome, <strong><%= user.name %></strong></span>
                                <br>
                                <a href="#" class="facebook-button apprequests sendRequest" data-message="Play this awesome game">
                                    <span class="apprequests">Invite friends!</span>
                                </a>
                            </div>
                            <% } else { %>
                            <div>
                                <span class="facebook_login">Log In to Facebook! It will allow you to invite friends.</span>
                                <br>
                                <div class="fb-login-button" data-scope="user_likes,user_photos"></div>
                            </div>
                            <% } %>
                        </div>
                        <br>
                        <div class="fb-like-box" data-href="http://www.facebook.com/StopCommunity" data-width="220" data-height="292" data-show-faces="true" data-stream="false" data-header="true"></div>

                    </div>
                </div>
                <div class="home">
                    <div class="paper paper3 chat home">
                        <h1 class="paper_title"> Chat </h1>
                        <textarea class="chat_outside"></textarea>
                        <input type="text" class="text_outside hint" placeholder="Press enter to send message" id="text_outside"> 
                    </div>
                    <div class="paper paper4 active rooms home">
                        <h1 class="paper_title"> Rooms </h1>
                        <a href="#" class="new_room hint" id="new_room"> New Room </a>
                        <input type="text" class="search_room hint" id="search_room" placeholder="Search room"> 
                        <div class="no_rooms">
                            <span class="no_rooms_line1">No rooms were found.</span>
                            <span class="no_rooms_line2">Create a <a href="#" class="new_room hint" id="new_room"> New Room </a></span>
                        </div>
                        <div class="page_container"> 
                            <ul class="rooms_header">
                                <li class="room_row header">
                                    <span class="room_name">Name</span>
                                    <span class="room_players">Players</span>
                                    <span class="room_status">Round</span>
                                </li>
                            </ul>
                            <ul class="rooms content hint" id="rooms">
                            </ul>
                            <div class="page_navigation hint" id="page_navigation"></div>
                            <div class="clear"></div>
                        </div>
                        <br>
                        <br>
                        <div class="clearfix">
                            <% if (user) { %>

                            <div>
                                <a href="#" class="facebook-button apprequests sendRequest" data-message="Play this awesome game">
                                    <span class="apprequests">Invite friends!</span>
                                </a>
                            </div>
                            <% } else { %>
                            <div>
                                <span class="facebook_login">Log In to Facebook! It will allow you to invite friends.</span>
                                <br>
                                <div class="fb-login-button" data-scope="user_likes,user_photos"></div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="paper paper5 create_room home">
                        <h1 class="paper_title"> Create Room </h1>
                        <form class="create_room_form">
                            <label class="create_form_label" for="room_name"> Room Name: </label>
                            <input class="create_form_input hint" id="room_name" type="text" name="name">     
                            <div class="clear"></div>
                            
                            <label class="create_form_label" for="room_rounds"> Rounds: </label>
                            <input class="create_form_input hint" id="room_rounds" type="text" name="rounds" value="10">     
                            <div class="clear"></div>

                            <label class="create_form_label" for="room_players"> Players: </label>
                            <input class="create_form_input hint" id="room_players" type="text" name="players" value="0">    
                            <div class="clear"></div>

                            <label class="create_form_label" for="room_stop"> Stop Time: </label>
                            <input class="create_form_input hint" id="room_stop" type="text" name="stop" value="60">    
                            <div class="clear"></div>
                            
                            <label class="create_form_label" for="room_check"> Check Time: </label>
                            <input class="create_form_input hint" id="room_check" type="text" name="check" value="20">
                            <div class="clear"></div>
        
                            <label class="create_form_label" for="room_interval"> Interval Time: </label>
                            <input class="create_form_input hint" id="room_interval" type="text" name="interval" value="20">
                            <div class="clear"></div>

                            <span class="create_form_label_letters"> Possible Letters: <span class="how_many_selected">(21 selected)</span> </span>
                            <div class="letter_list hint" id="letter_list"> 
                                <input type="checkbox" name="A" id="id_A" class="letters" checked="checked"/><label class="letters_label" for="id_A">A</label>
                                <input type="checkbox" name="B" id="id_B" class="letters" checked="checked"/><label class="letters_label" for="id_B">B</label>
                                <input type="checkbox" name="C" id="id_C" class="letters" checked="checked"/><label class="letters_label" for="id_C">C</label>
                                <input type="checkbox" name="D" id="id_D" class="letters" checked="checked"/><label class="letters_label" for="id_D">D</label>
                                <input type="checkbox" name="E" id="id_E" class="letters" checked="checked"/><label class="letters_label" for="id_E">E</label>
                                <input type="checkbox" name="F" id="id_F" class="letters" checked="checked"/><label class="letters_label" for="id_F">F</label>
                                <input type="checkbox" name="G" id="id_G" class="letters" checked="checked"/><label class="letters_label" for="id_G">G</label>
                                <input type="checkbox" name="H" id="id_H" class="letters" checked="checked"/><label class="letters_label" for="id_H">H</label>
                                <input type="checkbox" name="I" id="id_I" class="letters" checked="checked"/><label class="letters_label" for="id_I">I</label>
                                <input type="checkbox" name="J" id="id_J" class="letters"/><label class="letters_label" for="id_J">J</label>
                                <input type="checkbox" name="K" id="id_K" class="letters"/><label class="letters_label" for="id_K">K</label>
                                <input type="checkbox" name="L" id="id_L" class="letters" checked="checked"/><label class="letters_label" for="id_L">L</label>
                                <input type="checkbox" name="M" id="id_M" class="letters" checked="checked"/><label class="letters_label" for="id_M">M</label>
                                <input type="checkbox" name="N" id="id_N" class="letters" checked="checked"/><label class="letters_label" for="id_N">N</label>
                                <input type="checkbox" name="O" id="id_O" class="letters" checked="checked"/><label class="letters_label" for="id_O">O</label>
                                <input type="checkbox" name="P" id="id_P" class="letters" checked="checked"/><label class="letters_label" for="id_P">P</label>
                                <input type="checkbox" name="Q" id="id_Q" class="letters"/><label class="letters_label" for="id_Q">Q</label>
                                <input type="checkbox" name="R" id="id_R" class="letters" checked="checked"/><label class="letters_label" for="id_R">R</label>
                                <input type="checkbox" name="S" id="id_S" class="letters" checked="checked"/><label class="letters_label" for="id_S">S</label>
                                <input type="checkbox" name="T" id="id_T" class="letters" checked="checked"/><label class="letters_label" for="id_T">T</label>
                                <input type="checkbox" name="U" id="id_U" class="letters" checked="checked"/><label class="letters_label" for="id_U">U</label>
                                <input type="checkbox" name="V" id="id_V" class="letters" checked="checked"/><label class="letters_label" for="id_V">V</label>
                                <input type="checkbox" name="W" id="id_W" class="letters" checked="checked"/><label class="letters_label" for="id_W">W</label>
                                <input type="checkbox" name="X" id="id_X" class="letters"/><label class="letters_label" for="id_X">X</label>
                                <input type="checkbox" name="Y" id="id_Y" class="letters" checked="checked"/><label class="letters_label" for="id_Y">Y</label>
                                <input type="checkbox" name="Z" id="id_Z" class="letters"/><label class="letters_label" for="id_Z">Z</label>
                                <div class="clear"></div>
                            </div>
                            <label class="create_form_label_category" for="room_rounds"> Categories: (Separated by space) </label>
                            <textarea name="categories" class="create_room_categories_text hint" id="create_room_categories_text">Town
Country
River</textarea>
                            <button class="create_room_submit hint paper_btn" id="create_room_submit"> Create Room </button>
                            <button class="create_room_cancel hint paper_btn" id="create_room_cancel"> Cancel </button>
                            <div class="clear"> </div>
                        </form>
                        
                    </div>
                </div>
                <div class="room">
                    <div class="current_letter room leftmove hint" id="current_letter"></div> 
                    <div class="paper paper6 scores room active">
                        <h1 class="paper_title hint" id="paper_title_1"></h1>
                        <div class="room_side_title">
                            <span class="current_round"></span>
                            <a href="#" class="exit_room hint" id="exit_room_1"> Quit game <i class="icon-off"></i></a>
                        </div>
                        <div class="clear"> </div>
                        <div class="score">
                            <span class="score-title">Score</span>
                            <table class="score-list"></table>
                        </div>
                        <div class="room_control">
                            <span class="time_text"> 
                                <span class="time-number"></span>s remaining
                            </span>
                            <div class="button_control"><button class="ready_play paper_btn hint" id="ready_play_1">Ready</button></div>
                        </div>
                        <br>
                        <% if (user) { %>

                            <div>
                                <a href="#" class="facebook-button apprequests invite" data-room="wtf" data-message="Play this awesome game">
                                    <span class="apprequests">Invite friends!</span>
                                </a>
                            </div>
                        <% } else { %>
                            <div>
                                <span class="facebook_login in_room_login">Log In to Facebook! It will allow you to invite friends.</span>
                                <div class="fb-login-button in_room_login_btn" data-scope="user_likes,user_photos"></div>
                            </div>
                        <% } %>
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">Chat</a></li>
                                <li><a href="#tab2" data-toggle="tab">Users</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <textarea class="chat_inside"></textarea>
                                    <input type="text" class="text_inside" placeholder="Press enter to send message">  
                                </div>
                                <div class="tab-pane users_list" id="tab2">
                                    <table class="score-list"></table>
                                    <div class="face-down">
                                    <% if (user) { %>

                                        <div>
                                            <a href="#" class="facebook-button apprequests invite" data-room="wtf" data-message="Play this awesome game">
                                                <span class="apprequests">Invite friends!</span>
                                            </a>
                                        </div>
                                    <% } else { %>
                                        <div>
                                            <span class="facebook_login in_room_login">Log In to Facebook! It will allow you to invite friends.</span>
                                            <div class="fb-login-button in_room_login_btn" data-scope="user_likes,user_photos"></div>
                                        </div>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="paper paper7 playing room active">
                        <h1 class="paper_title hint" id="paper_title_2"></h1>
                        <div class="room_side_title">
                            <span class="current_round"></span>
                            <a href="#" class="exit_room hint" id="exit_room_2"> Quit game <i class="icon-off"></i></a>
                        </div>
                        <div class="clear"> </div>
                        <span class="phrase"> Write words starting with <span class="phrase_letter"></span> </span>
                        <form class="game_form">
                            <div class="clear"></div>
                        </form>
                        <div class="room_control">
                            <span class="time_text"> 
                                <span class="time-number"></span>s remaining 
                            </span>
                            <div class="button_control"><button class="ready_play paper_btn hint" id="ready_play_2">Stop!</button></div>
                        </div>
                        
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab3" data-toggle="tab">Chat</a></li>
                                <li><a href="#tab4" data-toggle="tab">Users</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab3">
                                    <textarea class="chat_inside"></textarea>
                                    <input type="text" class="text_inside" placeholder="Press enter to send message">  
                                </div>
                                <div class="tab-pane users_list" id="tab4">
                                    <table class="score-list"></table>
                                    <div class="face-down">
                                    <% if (user) { %>

                                        <div>
                                            <a href="#" class="facebook-button apprequests invite" data-room="wtf" data-message="Play this awesome game">
                                                <span class="apprequests">Invite friends!</span>
                                            </a>
                                        </div>
                                    <% } else { %>
                                        <div>
                                            <span class="facebook_login in_room_login">Log In to Facebook! It will allow you to invite friends.</span>
                                            <div class="fb-login-button in_room_login_btn" data-scope="user_likes,user_photos"></div>
                                        </div>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="paper paper8 checking room active">
                        <h1 class="paper_title hint" id="paper_title_1"></h1>
                        <div class="room_side_title">
                            <span class="current_round"></span>
                            <a href="#" class="exit_room hint" id="exit_room_3"> Quit game <i class="icon-off"></i></a>
                        </div>
                        <div class="clear"> </div>
                        <span class="phrase"> Checking words for <span class="checking_word"></span> </span>
                        <form class="check_form">
                            <div class="clear"> </div>
                        </form>
                        <div class="room_control">
                            <span class="time_text"> 
                                <span class="time-number"></span>s remaining 
                            </span>
                            <div class="button_control"><button class="ready_play paper_btn hint" id="ready_play_3">Ready</button></div>
                        </div>
                        
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab5" data-toggle="tab">Chat</a></li>
                                <li><a href="#tab6" data-toggle="tab">Users</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab5">
                                    <textarea class="chat_inside"></textarea>
                                    <input type="text" class="text_inside" placeholder="Press enter to send message">  
                                </div>
                                <div class="tab-pane users_list" id="tab6">
                                    <table class="score-list"></table>
                                    <div class="face-down">
                                    <% if (user) { %>

                                        <div>
                                            <a href="#" class="facebook-button apprequests invite" data-room="wtf" data-message="Play this awesome game">
                                                <span class="apprequests">Invite friends!</span>
                                            </a>
                                        </div>
                                    <% } else { %>
                                        <div>
                                            <span class="facebook_login in_room_login">Log In to Facebook! It will allow you to invite friends.</span>
                                            <div class="fb-login-button in_room_login_btn" data-scope="user_likes,user_photos"></div>
                                        </div>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tooltips leftmove hint" id="eraser">
                <br/>
            </div>
            <div class="exit leftmove hint" id="exit">
                <a href="#" class="exit_button"><img alt="exit" src="/img/exit.png"></a>
            </div>
        </div>

    </body>
</html>